
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/ForAdmin/_LayoutPageAdminHome.cshtml";
}
<!DOCTYPE html>
<html>
<body>
    <h2>About Us</h2>
    <p>
        A supermarket is a self-service shop offering a wide variety of food, beverages and household products, organized into sections.
        This kind of store is larger and has a wider selection than earlier grocery stores,
        but is smaller and more limited in the range of merchandise than a hypermarket or big-box market.
        In everyday U.S. usage, however, "grocery store" is synonymous with supermarket, and is not used to refer to other types
        of stores that sell groceries.
        The supermarket typically has places for fresh meat, fresh produce, dairy, deli items, baked goods, etc.
        Shelf space is also reserved for canned and packaged goods and for various non-food items such as kitchenware, household cleaners,
        pharmacy products and pet supplies.
        Some supermarkets also sell other household products that are consumed regularly, such as alcohol (where permitted), medicine,
        and clothing, and some sell a much wider range of non-food products: DVDs, sporting equipment, board games,
        and seasonal items (e.g., Christmas wrapping paper in December).
        A larger full-service supermarket combined with a department store is sometimes known as a hypermarket.
        Other services may include those of banks, cafés, childcare centers/creches, insurance (and other financial services),
        mobile phone services, photo processing, video rentals, pharmacies, and gas stations.
        If the eatery in a supermarket is substantial enough, the facility may be called a "grocerant",
        a blend of "grocery" and "restaurant". The traditional supermarket occupies a large amount of floor space, usually on a single level.
        It is usually situated near a residential area in order to be convenient to consumers.
        The basic appeal is the availability of a broad selection of goods under a single roof, at relatively low prices.
        Other advantages include ease of parking and frequently the convenience of shopping hours that extend into
        the evening or even 24 hours of the day. Supermarkets usually allocate large budgets to advertising, typically through newspapers.
        They also present elaborate in-shop displays of products. Supermarkets typically are chain stores.
    </p>

</body>
</html>

