@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/ForAdmin/_LayoutPageAdminHome.cshtml";
}


<!DOCTYPE html>


<html>
<head>
    <title>Contact Us</title>
</head>

<body>
    <h2>Contact Us By...</h2>
    <p>Email: supermarket12@gmail.com<p><br>
    <p>Phone: 01302034021<p>

</body>
</html>