@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/ForAdmin/_LayoutPageAdminHome.cshtml";
}

<div class="jumbotron">
    <h1 align="center">Supermarket Management System</h1>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            A supermarket is a self-service shop offering a wide variety of food, beverages and household products,
            organized into sections. This kind of store is larger and has a wider selection than earlier grocery stores,
            but is smaller and more limited in the range of merchandise than a hypermarket or big-box market.
        </p>

    </div>

</div>

